<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
    <!-- <resultMap id="resultCustomer" type="com.my.vo.Customer">
        <result column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="gender" property="gender"/>
        <result column="birth_date" property="birth_date"/>
        <association column="zip_idx" property="zip" javaType="com.my.vo.Zip">
            <result column="zip_idx" property="idx"/>
        </association>
    </resultMap> -->


    <!-- 로그인  -->
    <!--<select id="selectById" resultType="vo.User">-->
    <!--SELECT * FROM member WHERE e_mail = #{email}-->
    <!--</select>-->

    <!--&lt;!&ndash; 로그아웃 &ndash;&gt;-->

    <!--&lt;!&ndash; 회원가입 &ndash;&gt;-->
    <insert id="insert">
INSERT INTO users(user_no,user_name,id, password, admin_level)
VALUES(USER_NO_SEQ.Nextval,#{user_name},'nhs0912','123','admin');
--         INSERT INTO member(e_mail, nickname, password)
--         VALUES(#{e_mail}, #{nickname}, #{password})
    </insert>


</mapper>